<link href="{{ 'daisyui.css' | asset_url}}" rel="stylesheet" type="text/css" />
<script src="{{ 'tailwind.js' | asset_url }}" defer></script>
<script src="{{ 'main.js' | asset_url }}" defer></script>

{% comment %} TODO location {% endcomment %}

{% assign selected_variant = product.selected_or_first_available_variant %}

{% if selected_variant.available %}
  <p>✅ En stock : {{ selected_variant.inventory_quantity }}</p>
{% else %}
  <div>
    <button class="btn btn-secondary" onclick="my_modal_1.showModal()">Open Dialog</button>

    <button id="back2cart-btn" type="button" 
      class="text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl
            focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800
            font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">
      🔔 Notify me
    </button>
    
    <dialog id="my_modal_1" class="modal">
      <div class="modal-box">
        <h3 class="text-lg font-bold">Hello!</h3>
        <p class="py-4">Press ESC key or click the button below to close</p>
        <div class="modal-action">
          <form method="dialog">
            <!-- if there is a button in form, it will close the modal -->
            <button class="btn">Close</button>
          </form>
        </div>
      </div>
    </dialog>

  </div>
{% endif %}

{% comment %} {% assign total_stock = 0 %}
{% for variant in product.variants %}
  {% assign total_stock = total_stock | plus: variant.inventory_quantity %}
{% endfor %}

<div id="back2cart-widget">
  {% if total_stock > 0 %}
    <p class="stock-msg">✅ En stock : {{ total_stock }} articles</p>
  {% else %}
    <button class="back2cart-btn">🔔 Me prévenir quand dispo</button>
  {% endif %}
</div> {% endcomment %}
